@tailwind base;
@tailwind utilities;

/*############################# CSS GLOBAL POUR MISE EN PAGE #############################*/

.container{
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-right: 15%;
}

h1 {
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

p{
    font-size: 1.3rem;
}

/*############################# CSS GLOBAL POUR MLES COULEURS#############################*/

.light-blue {
    background-color : #4263a3;
    color : white;
}

.dark-blue {
    background-color : #132c85;
    color : black;

}

.light-pink {
    background-color : #FFCCED;
    color : black;
}

#pratical-informations .dark-pink {  /*applique le rose seulement pour la rubrique infos pratiques de la page d'accueil*/
    background-color :  #bd1080;
    color : white;
    margin : 0.5% 2% 0.5% 2%;
    padding : 1%;
    width : 25%;
    height: 1%;
    text-align: center;
}

.dark-pink {
    background-color :  #bd1080;
    color : white;
}

.gray {
    background-color :  #f0f0f0;
    color : black;
}

.white {
    background-color :  white;
    color : black;
}

/*############################# IMAGES ET LOGOS #############################*/

.home-image{
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.logos-companies {

}

.logo-esiee{
    width: 200px;
}

/*########################################### NAV ###########################################*/

.nav-container{
    display: flex;
    flex-direction: row;
    margin-left: 15%;
    margin-right: 15%;
}

/*############################# PAGE EDITIONS PRECEDENTES ET EXPOSANTS #############################*/

.company:nth-child(odd) div div p,
.company:nth-child(odd) div a p{ /*selectionne les enfants impaires*/
    background-color :  #bd1080;
    color : white;
}

.company:nth-child(even) div div p,
.company:nth-child(even) div a p {
    background-color : #4263a3; /*selectionne les enfants paires*/
    color : white;
}

/*############################# PAGE DES OFFRES #############################*/

.offer-container,
.options-container{
    display: flex;
    flex-direction: row;
}

/*############################# PAGE D'UNE ENTREPRISE' #############################*/

.company-offer div div p{ 
    background-color :  #bd1080;
    color : white;
}

/*############################# PAGE DES DEVIS #############################*/

.quote-container{
    display: flex;
    flex-direction: row;
    margin-left: 15%;
    margin-right: 15%;
}

.quote-input,
.register-input {
    margin: 15px 0px 15px 0px;
    width: 100%; /* Correspond à w-full */
    border-radius: 0.375rem; /* Correspond à rounded-md */
    border: 2; /* Correspond à border-0 */
    border-color: #9a9a9a;
    color: #1f2937; /* Correspond à text-gray-900 */
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05); /* Correspond à shadow-sm */
    box-sizing: border-box; /* Ensures proper padding and border handling */
    background-color: white; /*Default background color */
    outline: none;
}

input:not([type="radio"]):focus {
    border: 2px solid #132c85 !important;
    --tw-ring-color: #132c85 !important;
    outline: none;
    background-color: white;
}

.form-group:has(input:focus) label{
    color: #132c85 ;
    font-weight: 500;
}

.form-group:has(select:focus) label{
    color: #132c85 ;
    font-weight: 500;
}

.button-color {
    background-color: #132c85 ;
    border-radius: 0.375rem;
    color: white;
}

