@tailwind base;
@tailwind utilities;

/*############################# CSS GLOBAL POUR MISE EN PAGE #############################*/

.container{
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-right: 15%;
}

main {
    min-height: 45vh;
}

h1 {
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

p{
    font-size: 1.3rem;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

/*############################# CSS GLOBAL POUR LES COULEURS #############################*/

.light-blue {
    background-color : #4263a3;
    color : white;
}

.dark-blue {
    background-color : #132c85;
    color : white;

}

.light-pink {
    background-color : #FFCCED;
    color : black;
}

.dark-pink-text {
    color: #bd1080;
}

.light-blue-text {
    color: #4263a3;
}

.text-home-color{
    background: rgba(0, 0, 0, 0.7);
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
    color: white;
    width: fit-content;
}

#pratical-informations .dark-pink {  /*applique le rose seulement pour la rubrique infos pratiques de la page d'accueil*/
    background-color :  #bd1080;
    color : white;
    margin : 0.5% 2% 0.5% 2%;
    padding : 1%;
    width : 25%;
    height: 1%;
    text-align: center;
}

#pratical-informations a.dark-pink {
    padding : 0%;
}

#pratical-informations .dark-pink p {
    padding : 4%;
}

.dark-pink {
    background-color :  #bd1080;
    color : white;
}

a.dark-pink:hover,
a.dark-pink p:hover {
    background-color :  #970d66;
}

a.light-blue:hover,
a.light-blue p:hover {
    background-color :  #38548b;
}

.gray {
    background-color :  #f0f0f0;
    color : black
}

a.gray:hover,
.filters-container button:hover,
.filters-fixed button:hover {
    background-color :  #d9d9d9;
    color: #000000;
}

.white {
    background-color :  white;
    color : black;
}

.filters option:not([value=""]):focus,
.filters select option:not([value=""]),
.filters select:focus {
    color: black;
}

.filters select {
    color: #6b7280;
    opacity: 1; 
}
  
/*############################# IMAGES ET LOGOS #############################*/

.home-image{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.logos-companies-div{
    display:flex;
    justify-content: center;
    width: 200px;
}

.logos-companies{
    object-fit: contain;
}

.logos-home-div{
    display:flex;
    justify-content: center;
    width: 15rem;
    height: 11rem;
}

.logos-home{
    max-width: 13rem;
    max-height: 11rem;
}

.nav-container .logo-esiee{
    width: 200px;
}

.nav-fixed .logo-esiee{
    width: 100px;
}

.logo-esiee-footer{
    width: 500px;
}

.logo-cci-paris-ile-de-france-education,
.logo-univ-gustave-eiffel{
    width: 190px;
    margin-top : 30px;
}

.logo-cci-paris-ile-de-france-education{
    margin-right : 10px;
}

.logo-univ-gustave-eiffel{
    margin-left : 10px;
    align-items: right;
}

/*########################################### NAV ###########################################*/

#nav-responsive{
    display:none;
}
/*##### nav fixed #####*/
.nav-fixed{
    display: flex;
    flex-direction: row;
    padding-left: 15%;
    padding-right: 15%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    background: rgba(255, 255, 255, 0.9);
    border-bottom: 2px solid rgba(204, 204, 204, 0.9);
    font-weight: 600;
}
.nav-fixed div > ul > li {
    padding-top:1rem ;
    padding-bottom:1rem ;
}

.nav-fixed .years {
    margin-top: 15px;
    padding:10px 50px 10px 50px ;
    background-color:#f0f0f0e6;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
}

/*##### nav container #####*/
.nav-container{
    display: flex;
    flex-direction: row;
    padding-left: 15%;
    padding-right: 15%;
    border-bottom: 2px solid rgba(204, 204, 204, 0.9);
    font-weight: 600;
}

.nav-container div > ul > li {
    padding-top:2rem ;
    padding-bottom:2rem ;
}

.nav-container .years {
    margin-top: 31px;
    font-size: large;
    padding:10px 50px 10px 50px ;
    background-color:#f0f0f0e6;
    z-index: 1000;
}

.years {
    display: none;
}

.years:hover,
.dropdown:hover .years {
    display: block;
}

.nav-fixed ul.years.absolute {
    z-index: 1000 !important;
}

/*########################################### FOOTER ###########################################*/

footer .bottom {
    background-color: white;
    color: #444;
}

footer .bottom p {
    font-size: 18px !important;
    font-weight: 500;
}

footer .bottom p:hover,
.cv-text-hover:hover {
    text-decoration: underline;
    text-underline-offset: .3rem;
}

/*########################################### PAGE D'ACCUEIL ###########################################*/

.margin{
    margin : 0% 15% 50px 15%;
}
.discover {
    padding-left: 15%;
    padding-right: 15%;
}

.discover div {
    margin-left: 0px;
}

.discover a {
    padding: .5rem;
}

.discover img {
    max-height: 10rem;
}

section.white {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.underline-hover:hover {
    text-decoration: underline;
    text-underline-offset: .3rem;
    color: #bd1080;
    width: fit-content;
}

.company:nth-child(even) .underline-hover:hover {
    color: #4263a3;
}

h2.underline-hover:hover {
    text-decoration-thickness: 1.5px;
}

.white-underline-hover:hover {
    text-decoration: underline;
    text-underline-offset: .3rem;
    color: #FFFFFF;
}


/*############################# PAGE EDITIONS PRECEDENTES ET EXPOSANTS #############################*/

.company:nth-child(odd) div div p,
.company:nth-child(odd) div a p { /*selectionne les enfants impaires*/
    background-color :  #bd1080;
    color : white;
}

.company:nth-child(odd) div a:hover p { 
    background-color :  #970d66;
}

.company:nth-child(even) div div p,
.company:nth-child(even) div a p {
    background-color : #4263a3; /*selectionne les enfants paires*/
    color : white;
}

.company:nth-child(even) div a:hover p { 
    background-color :  #38548b;
}

.company a {
    width: fit-content;
}

section.white.company-list {
    padding-bottom: 0px;
}

/*############################# PAGE DES OFFRES #############################*/


.filters {
    justify-content: left;
    padding-right: 15%;
    padding-left: 15%;

}

.filters-container{
    position: absolute;
    z-index: 1;
    left: 0;
    border-bottom: 2px solid rgba(204, 204, 204, 0.9);
}

.filters-fixed{
    position: fixed;
    top: 3.6rem;
    left: 0;
    z-index: 1;
    border-bottom: 2px solid rgba(204, 204, 204, 0.9);
}
/*############################# PAGE D'UNE ENTREPRISE #############################*/

.company-offer div div p{ 
    background-color :  #bd1080;
    color : white;
}

/*############################# PAGE DES DEVIS #############################*/

.quote-input,
.register-input {
    margin: 15px 0px 15px 0px;
    width: 100%; /* Correspond à w-full */
    border-radius: 0.375rem; /* Correspond à rounded-md */
    border: 2; /* Correspond à border-0 */
    border-color: #9a9a9a;
    color: #1f2937; /* Correspond à text-gray-900 */
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05); /* Correspond à shadow-sm */
    box-sizing: border-box; /* Ensures proper padding and border handling */
    background-color: white; /*Default background color */
    outline: none;
}

input[type="radio"]:focus,
input[type="radio"]:checked {
    --tw-ring-color: #FFFFFF !important;
    background-color: #132c85 !important;
}

input:not([type="radio"]):not([type="submit"]):focus,
select:focus {
    border: 2px solid #132c85 !important;
    --tw-ring-color: #132c85 !important;
    outline: none;
    background-color: white;
}

.form-group:has(input:focus) label{
    color: #132c85 ;
    font-weight: 500;
}

.form-group:has(select:focus) label{
    color: #132c85 ;
    font-weight: 500;
}

.button-color {
    background-color: #132c85 ;
    color: white;
    border: none;
}

.button-color:hover {
    background-color: #0c1d5e ;
}

label.white {
    border-radius: 50px;
}

/*########################################### PAGE DE CV  ###########################################*/

.filters-container button,
.filters-fixed button {
    background-color: #FFFFFF;
    color: #6b7280;
    border-color: #6b7280;
    border-width: 1px;
    padding: .5rem .75rem .5rem .75rem;
    margin-right: 15%;
}

/*########################################### PAGE DE FAQ  ###########################################*/

summary:hover {
    background-color: #d9d9d9;
}

/*############################# PAGE DES ADMINS #############################*/

.tab-titles {
    display: flex;
}

.tab-title {
    padding: 10px 20px;
    background-color: #f0f0f0;
    cursor: pointer;
    border: 1px solid #d9d9d9;
    margin: 0px 5px 5px 0px;
}

.tab-title:hover {
    background-color: #d9d9d9;
}

.tab-title.active {
    background-color: #bd1080;
    color: white;
}

/* Contenu des onglets */
.tab-content {
    display: none; 
    margin-top: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #d9d9d9;
}

/* Afficher le contenu actif */
.tab-content.active {
    display: block;
}

.tab-content h2 {
    padding-bottom: .75rem;
}

.tab-content img {
    height: 32px;
    margin: 0px 9px 8px 0px;
}

.tab-content #img-plus {
    height: 35px;
    margin : 8px 0px 0px 8px;
}

















