@tailwind base;
@tailwind utilities;

/*############################# CSS GLOBAL POUR MISE EN PAGE #############################*/

.container{
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-right: 15%;
    padding : 1%;
}

h1 {
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

p{
    font-size: 1.3rem;
}

/*############################# CSS GLOBAL POUR MLES COULEURS#############################*/

.light-blue {
    background-color : #4263a3;
    color : white;
}

.dark-blue {
    background-color : #132c85;
    color : black;

}

.light-pink {
    background-color : #FFCCED;
    color : black;
}

#pratical-informations .dark-pink {  /*applique le rose seulement pour la rubrique infos pratiques de la page d'accueil*/
    background-color :  #bd1080;
    color : white;
    margin : 0.5% 2% 0.5% 2%;
    padding : 1%;
    width : 25%;
    height: 1%;
    text-align: center;
}

.gray {
    background-color :  #f0f0f0;
    color : black;
}

.white {
    background-color :  white;
    color : black;

}

/*############################# IMAGES ET LOGOS #############################*/

img{
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*############################# PAGE EDITIONS PRECEDENTES ET EXPOSANTS #############################*/

.company:nth-child(odd) div div p,
.company:nth-child(odd) div a p{ /*selectionne les enfants impaires*/
    background-color :  #bd1080;
    color : white;
}

.company:nth-child(even) div div p,
.company:nth-child(even) div a p {
    background-color : #4263a3; /*selectionne les enfants paires*/
    color : white;
}

/*############################# PAGE D'UNE ENTREPRISE #############################*/

